<header class="navbar navbar-expand navbar-dark bg-primary p-0 mb-3">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" queryParamsHandling="preserve" routerLink="/">
            🏠 Homepage
          </a>
        </li>
        <li class="nav-item">
          <a (click)="toggleTheme()" class="nav-link">
            💡 {{switchThemeMessage}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="navbar fixed-bottom justify-content-center">
  Tools for learning math for software engineers.&nbsp;
  <a href="https://github.com/jfhr" referrerpolicy="no-referrer" rel="noreferrer" target="_blank">made by jfhr</a>
</footer>
