<div>

  <div class="mb-3">
    <h2>System of congruences</h2>
    <div>
      Find all values for x that satisfy all of the given congruences.
      Enter x in the form x<sub>0</sub> mod m
    </div>
  </div>

  <div *ngIf="showExercise" class="input-group my-3">
    <div class="col-form-label">
      <form (submit)="submitAnswerObject(answer)" autocomplete="off" class="text-math">
        <ng-container *ngFor="let congruency of exercise.congruences">
          <span class="mx-1">x =</span>
          <b class="mx-1">{{congruency.x}}</b>
          <span class="mx-1"> mod </span>
          <b class="mx-1">{{congruency.m}}</b>
          <br>
        </ng-container>
        <label>
          <input [(ngModel)]="answer.x" autofocus class="input-group-text mx-1" name="x" type="text">
        </label>
        <span class="mx-1"> mod </span>
        <label>
          <input [(ngModel)]="answer.m" autofocus class="input-group-text mx-1" name="m" type="text">
        </label>
        <input style="visibility: hidden;" type="submit"/>
      </form>
    </div>
  </div>

  <div *ngIf="showResult" class="my-3">
    <div *ngIf="result.correct" class="alert alert-success">
      Correct!
    </div>
    <div *ngIf="!result.correct" class="alert alert-danger">
      Wrong. See the explanation below.
    </div>
  </div>

  <div *ngIf="showExplanation" class="my-3">
    <div class="card">

      <div class="card-header">
        Explanation: Systematic solution
      </div>

      <div class="card-body justify-content-center">
        <div class="mx-4 text-math">
          <div *ngIf="explanationStep.m !== undefined" class="mt-1">
            <span class="text-success">m</span>
            = <span class="text-success">{{explanationStep.m}}</span>
          </div>
          <div *ngIf="explanationStep.M !== undefined" class="mt-1">
            <div *ngFor="let M of explanationStep.M; index as i">
              <span class="text-warning">M<sub>{{i}}</sub></span>
              ≡ <span class="text-success">{{explanationStep.m}}</span>
              / {{exercise.congruences[i].m}}
              ≡ <span class="text-warning">{{M}}</span>
            </div>
          </div>
          <div *ngIf="explanationStep.N !== undefined" class="mt-1">
            <div *ngFor="let N of explanationStep.N; index as i">
              <span class="text-info">N<sub>{{i}}</sub></span>
              ≡ <span class="text-warning">{{explanationStep.M[i]}}</span><sup>-1</sup>
              mod {{exercise.congruences[i].m}}
              ≡ <span class="text-info">{{N}}</span>
            </div>
          </div>
          <div *ngIf="explanationStep.s !== undefined" class="mt-1">
            <span class="text-danger">s</span>
            =
            <ng-container *ngFor="let c of exercise.congruences; index as i">
              <span>{{c.x}}</span>
              · <span class="text-warning">{{explanationStep.M[i]}}</span>
              · <span class="text-info">{{explanationStep.N[i]}}</span>
              <ng-container *ngIf="i < exercise.congruences.length - 1">
                +
              </ng-container>
            </ng-container>
            = <span class="text-danger">{{explanationStep.s}}</span>
          </div>
          <div *ngIf="explanationStep.x !== undefined" class="mt-1">
            x ≡ <span class="text-danger">{{explanationStep.s}}</span>
            mod <span class="text-success">{{explanationStep.m}}</span>
            ≡ <span class="text-danger">{{explanationStep.x}}</span>
            mod <span class="text-success">{{explanationStep.m}}</span>
          </div>
        </div>

        <div class="mx-4 mt-1">
          <div>Step {{explanationStep.step}}:
            <ng-container *ngFor="let part of explanationStep.hint">
              <span *ngIf="part.message !== undefined">{{part.message}}</span>
              <app-digit *ngIf="part.message === undefined" [d]="part.d"></app-digit>
            </ng-container>
          </div>
        </div>
      </div>

      <div appAutoFocusOnShow class="card-footer">
        <button (click)="previousExplanationStep()" [disabled]="previousExplanationStepDisabled" class="btn">
          ◀ Previous
        </button>
        <button (click)="nextExplanationStep()" [disabled]="nextExplanationStepDisabled" class="btn">
          Next ▶
        </button>
      </div>
    </div>
  </div>

  <div class="my-3">
    <div (click)="newExercise()" class="btn btn-secondary">New exercise</div>
  </div>

</div>
