<div>
  <div class="exercise">
    Convert
    <span class="exercise-value">{{ currentExercise.source }}</span>
    from base
    <span class="exercise-value">{{ currentExercise.sourceBase }}</span>
    to
    <span class="exercise-value">{{ currentExercise.expectedBase }}</span>
    :
    <form (submit)="checkResult(answer)">
      <label>
        <input #answer autofocus type="text">
      </label>
      <input class="hidden" type="submit">
    </form>
  </div>

  <div class="result-container">
    <div [style.width.%]="currentResult.width" class="result"></div>
    <ng-container *ngFor="let result of lastResults">
      <div [classList]="result.class" [style.width.%]="result.width" class="result"></div>
    </ng-container>
  </div>
</div>
