<div>

  <div class="mb-3">
    <h2>Euclidean Algorithm</h2>
    <div>Find the greatest common divisor of the two numbers by hand using the euclidean algorithm.</div>
    <div>Then find an integer solution to the equation below.</div>
  </div>

  <div *ngIf="showExercise" class="input-group my-3">
    <div class="col-form-label">
      <form (submit)="submitAnswer()" class="text-math" autocomplete="off">
        <span class="mx-1">gcd(</span>
        <b class="mx-1">{{ exercise.firstNumber }}</b>
        <span class="mx-1">,</span>
        <b class="mx-1">{{ exercise.secondNumber }}</b>
        <span class="mx-1">) =</span>
        <label>
          <input [(ngModel)]="answerGcd" autofocus class="input-group-text mx-1" type="text" name="answerGcd">
        </label>
        <br>

        <span class="mx-1">{{ exercise.firstNumber }}</span>
        <span class="mx-1">*</span>
        <label>
          <input [(ngModel)]="answerX" class="input-group-text mx-1" type="text" name="answerX">
        </label>
        <span class="mx-1">+</span>
        <span class="mx-1">{{ exercise.secondNumber }}</span>
        <span class="mx-1">*</span>
        <label>
          <input [(ngModel)]="answerY" class="input-group-text mx-1" type="text" name="answerY">
        </label>
        <span class="mx-1">=</span>
        <span class="mx-1">gcd(</span>
        <b class="mx-1">{{ exercise.firstNumber }}</b>
        <span class="mx-1">,</span>
        <b class="mx-1">{{ exercise.secondNumber }}</b>
        <span class="mx-1">)</span>

        <input type="submit" style="visibility: hidden;"/>
      </form>
    </div>
  </div>

  <div *ngIf="showResult" class="my-3">
    <div *ngIf="result.correct" class="alert alert-success">
      Correct!
    </div>
    <div *ngIf="!result.correct" class="alert alert-danger">
      Wrong. See the explanation below.
    </div>
  </div>

  <div *ngIf="showExplanation" class="my-3">
    <div class="card">

      <div class="card-header">
        Explanation: pen-and-paper addition
      </div>

      <div class="card-body justify-content-center">
        <div class="row">

          <table class="mx-4 align-content-center">
            <thead>
            <tr>
              <th>a</th>
              <th></th>
              <th>q</th>
              <th></th>
              <th>b</th>
              <th></th>
              <th>r</th>
              <th></th>
              <th>x</th>
              <th></th>
              <th>y</th>
            </tr>
            </thead>
            <tbody>
            <tr class="answer-arg">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td>0</td>
            </tr>
            <tr class="answer-arg">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>0</td>
              <td></td>
              <td>1</td>
            </tr>
            <tr class="answer-arg" *ngFor="let row of explanationStep.rows">
              <td>
                <app-digit [d]="row.a"></app-digit>
              </td>
              <td><span> = </span></td>
              <td>
                <app-digit [d]="row.q"></app-digit>
              </td>
              <td><span> * </span></td>
              <td>
                <app-digit [d]="row.b"></app-digit>
              </td>
              <td><span> + </span></td>
              <td>
                <app-digit [d]="row.r"></app-digit>
              </td>
              <td><span> ; </span></td>
              <td>
                <app-digit [d]="row.x"></app-digit>
              </td>
              <td><span> ; </span></td>
              <td>
                <app-digit [d]="row.y"></app-digit>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="mx-4">
            <div>{{explanationStep.hint.message}}</div>
          </div>

        </div>
      </div>

      <div appAutoFocusOnShow class="card-footer">
        <button (click)="previousExplanationStep()" [disabled]="previousExplanationStepDisabled" class="btn">
          ◀ Previous
        </button>
        <button (click)="nextExplanationStep()" [disabled]="nextExplanationStepDisabled" class="btn">
          Next ▶
        </button>
      </div>

    </div>
  </div>

  <div class="my-3">
    <div (click)="newExercise()" class="btn btn-secondary">New exercise</div>
  </div>

</div>
