<section>
  <span class="h1 m-2">math for software engineers</span>
  <!--  <span class="lead m-2">learn math for software engineers</span>-->
</section>
<section>
  <!--  <div class="card my-3" routerLink="/convert-base" queryParamsHandling="merge">-->
  <!--    <div class="card-header">Base conversion</div>-->
  <!--    <div class="card-body">Convert numbers between different bases.</div>-->
  <!--  </div>-->
  <div class="card my-3" queryParamsHandling="preserve" routerLink="/addition-base">
    <div class="card-header">Addition</div>
    <div class="card-body">Pen-and-paper addition of binary numbers.</div>
  </div>
  <div class="card my-3" queryParamsHandling="preserve" routerLink="/euclidean-algorithm">
    <div class="card-header">Euclidean Algorithm</div>
    <div class="card-body">Find the greatest common divisor of two numbers by hand using the euclidean algorithm.</div>
  </div>
  <div class="card my-3">
    <div class="card-body">More to be added soon!</div>
  </div>
  <!--<ul>-->
  <!--  <li><a routerLink="/convert-base">Number base conversion</a></li>-->
  <!--  <li><a routerLink="/addition-base">Addition</a></li>-->
  <!--</ul>-->
</section>
