<section>
  <div class="h1 my-2">math-training</div>
  <div class="lead my-2">learn math for software engineers</div>
</section>
<section>
  <div class="card my-3" routerLink="/convert-base">
    <div class="card-header">Base conversion</div>
    <div class="card-body">Convert numbers between different bases.</div>
  </div>
  <div class="card my-3" routerLink="/addition-base">
    <div class="card-header">Addition</div>
    <div class="card-body">Pen-and-paper addition with different bases.</div>
  </div>
  <!--<ul>-->
  <!--  <li><a routerLink="/convert-base">Number base conversion</a></li>-->
  <!--  <li><a routerLink="/addition-base">Addition</a></li>-->
  <!--</ul>-->
</section>
