/* You can add global styles to this file, and also import other style files */
* {
  background: #202030;
  color: lightgray;
  font-family: "Courier New", Courier, monospace;
}

.hidden {
  display: none;
}
